.testimonials {
    padding: 2rem;
    background-color: #fff;
  }
  
  .testimonials h2 {
    font-size: 2rem;
    color: #333;
  }
  
  .testimonial-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .testimonial-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .rating {
    margin-top: 10px;
  }
  
  .star {
    font-size: 20px;
    color: #ccc;
  }
  
  .filled {
    color: gold; /* Change this to the color you want for filled stars */
  }
    