.navbar {
    background-color: #f5f5dc;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar h1 {
    color: #333;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .navbar ul li a:hover {
    color: #ff6347;
  }
  